// =====================================================
//      Grid
// =====================================================

.grid {
    display: flex;
    flex-wrap: wrap;
    margin-left: -$container-gap;
    margin-right: -$container-gap;

    > * {
        width: 100%;
        max-width: 100%;
        padding-left: $container-gap;
        padding-right: $container-gap;
    }
}

// Column sizes
.col {
    flex: 1 0 0%;
}

@for $i from 1 through $grid-columns {
    .col-#{$i} {
        flex: 0 0 auto;
        width: div(100%, $grid-columns) * $i;
    }
}

// Column orders
.order-first {
    order: -1;
}

.order-last {
    order: $grid-columns + 1;
}

@for $i from 1 through $grid-columns {
    .order-#{$i} {
        order: $i;
    }
}

// Columns offset
@for $i from 1 through ($grid-columns - 1) {
    .offset-#{$i} {
        margin-left: div(100%, $grid-columns) * $i;
    }
}

@each $breakpoint, $value in $breakpoints {
    @include mb-up($breakpoint) {
        // Column sizes
        .col-#{$breakpoint} {
            flex: 1 0 0%;
        }

        @for $i from 1 through $grid-columns {
            .col-#{$breakpoint}-#{$i} {
                flex: 0 0 auto;
                width: div(100%, $grid-columns) * $i;
            }
        }

        // Column orders
        .order-#{$breakpoint}-first {
            order: -1;
        }

        .order-#{$breakpoint}-last {
            order: $grid-columns + 1;
        }

        @for $i from 1 through $grid-columns {
            .order-#{$breakpoint}-#{$i} {
                order: $i;
            }
        }

        // Columns offeset
        @for $i from 1 through ($grid-columns - 1) {
            .offset-#{$breakpoint}-#{$i} {
                margin-left: div(100%, $grid-columns) * $i;
            }
        }
    }
}
