// =====================================================
//      Tables
// =====================================================

$table-border: 1px solid $gray-300 !default;
$table-cell-padding: 0.5rem !default;
$table-caption-side: bottom !default;
$table-caption-color: $gray-700 !default;
$table-stripped-background-color: $gray-200 !default;
