// =====================================================
//      Lead
// =====================================================

.lead {
    @include last-child-no-margin;
    font-family: $lead-font-family;
    font-size: $lead-font-size;
    font-weight: $lead-font-weight;

    @include mb-down(md) {
        font-size: $lead-font-size-md;
    }
}
